#components-layout-demo-fixed .logo {
    width: 200px;
    margin: 0 24px 0 0;
    float: left;
    height: 45px;

    img {
        width: 100%;
    }
}

.ant-layout-header {
    height: 45px;
    line-height: 45px;
    background: #000;
}

.container {
    max-width: 888px;
    margin: 0 auto;

    .ant-row-flex,
    .ant-row {
        width: calc(100% + 16px);;
    }
}

.bt_16 {
    margin-bottom: 16px;
}

.bt_32 {
    margin-bottom: 32px;
}

.uppercase {
    text-transform: uppercase;
}

.fact-card {
    position: relative;

    .ant-list-item-meta-title {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1;
    }

    .ant-list-vertical .ant-list-item-meta {
        margin-bottom: 0;
    }

    .ant-row {
        width: 100%;
    }

    .ant-card-head-title {
        text-overflow: unset;
        overflow: unset;
        white-space: unset;
    }

    .ant-card-head {
        padding: 16px;
        font-size: 15px;
        font-weight: normal;
        line-height: 1.3;

        .featured {
            margin-right: 16px;
            width: 100px;
            min-width: 100px;
        }

        a {
            color: #464646;
        }

        a.ant-tag {
            color: #22890e;
            margin-bottom: 10px;
        }
    }

    .ant-list-item-meta-description {
        float: left;
    }
}

.new-fact {
    height: 100%;

    .wrapper {
        height: 100%;
        min-height: 180px;
        display: flex;
        flex-direction: column;

        .content {
            flex: 1;
        }
    }

    q, a {
        color: white;
    }

    .ant-tag {
        background: unset;
        margin-bottom: 5px;
    }
}

.ant-card {
    .label {
        position: absolute;
        top: 5px;
        left: 0;
        padding: 0 10px;
        background: #24890d;
        color: #FFF;
        font-size: 12px;
    }

    .ant-card-body {
        padding: 16px;
    }

    .ant-list-item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .control {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
}

.ant-layout-sider,
.ant-layout {
    background: #F9F9F9;
}

h3.ant-list-item-meta-title {
    font-size: 18px;
}

.gray.ant-card {
    background: #F9F9F9;
}

.master.ant-layout-content {
    padding: 64px 0;
}

.ant-layout-content {
    min-height: calc(100vh - 70px);
}

.ant-comment {
    .ant-row {
        width: 100%;
    }
}

.ant-menu-item {
    text-transform: uppercase;
    font-weight: bold;
}

.featured {
    img {
        width: 100%;
    }
}

h1 {
    line-height: 1.2;
}

.editable-cell {
    position: relative;
    width: -webkit-fill-available;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
    padding-right: 24px;
}

.editable-cell-text-wrapper {
    padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
    position: absolute;
    right: 0;
    width: 20px;
    cursor: pointer;
    top: calc(50% - 10px);
}

.editable-cell-icon {
    line-height: 18px;
    display: none;
}

.editable-cell-icon-check {
    line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
    display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
    color: #108ee9;
}

.editable-add-btn {
    margin-bottom: 8px;
}

.v-center {
    display: flex;
    align-items: center;
}

.topic-card {
    .ant-card-body {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: flex-end;

        a {
            color: #FFF;
        }

        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    }
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.clickable {
    color: #24890d;
    cursor: pointer;
}

.ant-btn-circle.square {
    border-radius: 0;
}

.ant-avatar-lg.xxl {
    width: 100px;
    height: 100px;
    line-height: 94px;

    .ant-avatar-icon {
        font-size: 55px;
    }
}

.ant-upload.ant-upload-drag {
    min-width: 100px;
    min-height: 100px;
}

.center {
    text-align: center;
}

.has-cover .ant-card-head-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 74px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    padding: 16px;

    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .editable-cell,
    .ant-card-head-title {
        font-size: 24px;
        flex: 1;
    }

    a {
        color: #FFF;
    }
}

.topics {
    position: relative;

    .next, .previous {
        position: absolute;
        top: calc(50% - 10px);
        cursor: pointer;
    }

    .next {
        right: -30px;
    }

    .previous {
        left: -30px;
    }
}

.vote-wrap {
    .ant-btn {
        border: 0;
    }
}

@media only screen and (max-width: 767px) {
    .ant-drawer-content-wrapper {
        max-width: 85%;
    }
    .ant-menu {
        max-width: 50px;
    }
    .master.ant-layout-content {
        padding: 64px 16px;
    }
    .ant-layout-header {
        padding: 0 16px !important;
    }
    .has-cover .ant-card-head-wrapper {
        .ant-card-head-title {
            font-size: 16px;
        }
    }

    .topics .previous {
        left: 0;
    }

    .topics .next {
        right: 0;
    }

    .container {
        width: 100%;
    }
}

.ant-pagination-item a {
    padding: 10px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFF;
}
